<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>


  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/eop.png">
    </a>
    <h1>ENDofPOINT</h1>
    <p>deployed to Heroku</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/StanPast"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>


<div class="att-m2x-widget" data-widget-url="http://api-m2x.att.com/v2/widgets/55341b9d" data-m2x-key="de79c536e2508389367c1ae813288632"></div>

<!-- Include the following script tag only once per page -->
<script src="https://m2x.att.com/widgets.js" async></script>

</body>
</html>
