<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>


  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">

      <img src="/eop.png">
      <p>Visibility into your infrstructure</p>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/StanPast"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>


<div class="att-m2x-widget" data-widget-url="http://api-m2x.att.com/v2/widgets/55341b9d" data-m2x-key="de79c536e2508389367c1ae813288632"></div>
<div class="att-m2x-widget" data-widget-url="http://api-m2x.att.com/v2/widgets/32f9f30e" data-m2x-key="c82a58055542494eba8180a2ffb51d2c"></div>
<!-- Include the following script tag only once per page -->
<script src="https://m2x.att.com/widgets.js" async></script>

</body>
</html>
